marquee {
    background-color: dodgerblue;
}

.marquee_h4 {
    color: white;
}

iframe {
    width: 100%
}

.swimming {
    height: 150px;
}

.campus_mainDiv {
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none
}

.campus_mainDiv img {
    width: 30% margin-top: 10px;
}

.campus_mainDiv hr {
    width: 230px;
}

.campus_mainDiv h5,
.campus_mainDiv p {
    margin-left: 20px;
}

.achievement_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.achievement_head i {
    float: right;
}

.achievement_text span {
    color: #ff7700;
}

.modal-content {
    margin-top: 100px;
}

.modal-body {
    text-align: center;
}

.p_modal {
    margin-top: 10px;
}
